*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/* header*/

header{
  position: fixed;
  width: 100%;
  top:0;
}

.container.orange{
  padding: 0 100px;
  height: 6vh;
  display: flex;
  background-color: orange;
  justify-content: space-between;
  align-items: center;
}

.container.orange nav ul{
  display: flex;
  flex-direction: row;
  color: white;
}

.container.orange nav ul li{
  list-style: none;
  padding: 1em;
}

.container.orange nav ul li:hover{
  background-color: darkgoldenrod;
  cursor: pointer;
}

.container.orange .logo img{
  width: 200px;
  max-width: 300px;
  height: 50px;
}

.container.orange .icons{
  display: flex;
  flex-direction: row;
  color: white;
}

.container.orange .icons i{
  padding: 1px;
}



/* main */

.container-main{
  margin: 100px 110px 80px;  
}

.contain{
  margin: 0 10px;
  width: calc(100% / 3 - 23px);
  height: 600px;
  background-color: blue;
  border: 1px solid red;
  display: inline-block;
}

/* footer */
 
.container-foot{
  height: 10vh;
  width: 100%;
  background-color: rgb(20, 18, 18)
}